@font-face {
    font-family: 'Orange-Squash-Demo';
    src: url('/fonts/Orange-Squash-Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

p,h1,h2,h3{
    margin: 0;
}

body{
    overflow: hidden;
}
