.wrapper {
  display: flex;
  flex-direction: row;
  .left_wrapper {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 233px;
    .logo {
      padding: 40px 90px;
      color: #000;
      font-size: 28.8px;
      font-weight: 400;
      text-decoration: none;
    }
    h1 {
      color: #000;
      font-size: 70.6px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 40px 90px;
      font-size: "Orange-Squash-Demo";
    }
    .bottom_section {
      position: absolute;
      width: 76%;
      height: 233px;
      background: #ff37d8;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      padding-left: 100px;
      p {
        color: #fff;
        text-align: justify;
        font-size: 15px;
        font-weight: 400;
        line-height: 135%;
        width: 50%;
      }
      .contact {
        display: flex;
        flex-direction: column;
        gap: 5px;
        a {
          text-decoration: none;
          color: #fff;
          font-size: 15px;
          font-weight: 400;
          line-height: 135%;
          width: fit-content;
        }
      }
    }
  }
  .right_wrapper {
    flex: 0.5;
    .right_div {
      width: 8%;
      height: 40vh;
      background: #ff3f65;
      position: absolute;
      top: 0;
      right: 0;
    }
    .image {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
  .mobile_div {
    display: none;
  }
}

@media (max-width: 1041px) {
  .wrapper {
    .left_wrapper {
      h1 {
        font-size: 50.6px;
      }
    }
  }
}

@media (max-width: 800px) {
  .wrapper {
    .left_wrapper {
      .logo {
        padding: 20px 40px;
      }
      h1 {
        padding: 20px 40px;
      }
      .bottom_section {
        width: 70%;
        height: 200px;
        background: #ff37d8;
        gap: 30px;
        padding-left: 40px;
        p {
          width: 75%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    background-image: url("/images/comming_soon_img.png");
    height: calc(100vh - 210px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .left_wrapper {
      flex: 1;
      .logo {
        font-size: 20.16px;
        background-color: #fff;
      }
      h1 {
        color: #ffffff;
        font-size: 38.688px;
        padding: 30vh 30px 0;
      }
      .bottom_section {
        width: 100%;
        padding: 10px 0;
        p {
          font-size: 12px;
          margin-left: 30px;
        }
        .contact {
          margin-left: 30px;
          a {
            font-size: 12px;
          }
        }
      }
    }
    .right_wrapper {
      display: none;
    }
    .mobile_div {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 60px;
      height: 200px;
      background: #ff3f65;
    }
  }
}
